{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; /* Set the font */
    background-color: lightgreen;     /* Light gray background */
    color: #333;                    /* Dark text color */
    line-height: 1.6;               /* Improves readability */
}

img {
  max-width: 100%;
  height: auto;
}

.container {
    width: 80%;
    margin: 0 auto;                 /* Centers the element horizontally */
    background: #fff;
    border-radius: 8px;             /* Rounds the corners */
}
